$highlight-color: #64FFDA;

button {
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    border: solid 4px $highlight-color;
    font-size: 1.6rem;
    font-weight: bold;
    max-width: 200px;
    border-radius: 6px;
    color: $highlight-color;

}