$secondary-bg: #1B3356;
$highlight-color: #03e9f4;
$tech-tag-color: #2A4977;


  

.project-container {
    background: $secondary-bg;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-height: 40rem;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  



    &.alternate {
        flex-direction: row-reverse;

        @media (max-width: 994px) {

            flex-direction: column;
            height: fit-content;
    
        }
    }

    @media (max-width: 994px) {

        flex-direction: column;
        height: fit-content;
    }

    .project-image-container {
        flex-basis: 50%;
        display: block;
        border-radius: 16px;
        overflow: hidden;
        max-height: 23rem;
        
        @media (max-width: 994px) {
            
        }

            // max-height: 20rem;
            // margin-bottom: 1rem;
    
        }
        
        
        img {
            width: 100%;
            
           
            transform: translateY(0%);

     
            &:hover {
                transform: translateY(-90%);
                transition: transform 10s ease-in-out;
            }
            
        };

    }

    .content-wrapper {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        
        h3 {
            color: $highlight-color;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: clamp(1rem, 0.9228rem + 0.3168vw, 1.2rem);;
        }

        .technologies-container {
            margin-top: 1rem;
            max-width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;

            span {
                background: $tech-tag-color;
                padding: 3px 8px;
                
            }
        }

      .project-links {
        margin-top: 1rem;
        display: flex;
        justify-content: center; 

        a {
            text-decoration: none;
            display: inline-flex;
            margin-left: 10px;

            img {
                margin-left: 5px;
            }
        }

        span {
            text-decoration: none;
            color: white;
            white-space: nowrap;
            width: fit-content;
            
            
            
            
        }
      }
       
    } 



  



    