$highlight-color: #64FFDA;

button {
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    border: solid 3px $highlight-color;
    font-size: 1.2rem;
    font-weight: 300;
    max-width: fit-content;
    border-radius: 6px;
    color: $highlight-color;
    

}