.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;

    @media (max-width: 500px) {
        padding: 1rem 1rem;
    }


    .logo-container {
        display: inline-block;

        img {
            margin-top: 13px;
            width: clamp(5.625rem, 3.8194rem + 7.4074vw, 9.375rem);
        }
    }

    .nav-links-container {
        display: flex;
        flex-direction: row;

        @media (max-width: 700px) {
            display: none;
        }
    
        .nav-link {
            margin: 0 1rem;
            font-weight: bold;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            

         
        }

        a {
            margin: 0 1rem;

            img {
                margin-top: 13px;
            }
        }
    }
}