$form-bg-color: rgb(20, 28, 47);

.form-container {
  margin-top: 5rem;
  width: 100vw;
  background-color: $form-bg-color;
  height: fit-content;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  h2 {
    color: #03e9f4;
  }

  @media (min-width: 1366px) {
  }

  form {
    width: 53rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width: 1366px) {
      width: 90%;
    }

    .form-title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2rem;
    }

    .form-input-container {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      justify-content: left;

      @media (max-width: 500px) {
        flex-direction: column;
        width: 60%;
      }

      .input-div {
        position: relative;

        &.email {
          margin-left: 1rem;

          @media (max-width: 500px) {
            margin-left: 0;
            margin-top: 2rem;
          }
        }

        input:focus {
            outline: none;
        }

        input:focus ~ label {
          top: -20px;
          left: 0;
          color: #03e9f4;
          font-size: 12px;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
    }

    input {
      height: 2rem;
      background-color: $form-bg-color;
      border: none;
      border-bottom: white solid 1px;
      border-radius: 0;
      color: white;
      font-size: 1.1rem;

      @media (max-width: 500px) {
        width: 100%;
      }

      &::placeholder {
        color: white;
        font-size: 1.1rem;
      }
    }
  }

  #message {
    width: 100%;
    height: 10rem;
    background-color: $form-bg-color;
    border: white solid 1px;
    font-size: 1rem;
    color: white;
    font-family: inherit;

    &::placeholder {
      color: white;
      font-size: 1rem;
    }
  }
  
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
  }

  .submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
  }

  .submit-btn span {
    position: absolute;
    display: block;
  }
  .submit-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }

  .submit-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    // 50% {
    //     left: 100%;
    // }

    50%,
    100% {
      left: 100%;
    }
  }

  .submit-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    // 50% {
    //     top:100%;
    // }

    50%,
    100% {
      top: 100%;
    }
  }

  .submit-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }

  .submit-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}
