$highlight-color: #64ffda;

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
  max-width: 80%;

  @media (max-width: 500px) {
    margin: 0 auto;
    display: flex;
    max-width: 100%;
  }

  @media (max-width: 994px) {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    text-align: center;
    h1 {
      font-size: clamp(2rem, 1.5185rem + 1.9753vw, 3rem);
      color: $highlight-color;
    }

    h2 {
      font-size: clamp(1.2rem, 1.0074rem + 0.7901vw, 1.6rem);
      margin-left: 5px;
      color: grey;
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }

    .header-cta {
      margin-top: 2rem;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      }

    }

    .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
    
    .btn-white::after {
      background-color: white;
    }
    
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
    }

    @media (max-width: 500px) {
      margin-top: 2rem;
    }
  }

  .headshot-container {
    min-width: 330px;
    max-width: 400px;
    margin-left: 20px;

    @media (max-width: 994px) {
      max-width: 240px;
      min-width: 0;
    }

    img {
      width: 100%;
    }
  }
}
