.header-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
    max-width: 60%;

    .text-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        text-align: center;
        ;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 2.4rem;
            margin-left: 5px;
            color: grey;
        }

        p {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

    }

    .headshot-container{
        
        max-width: 300px;
        margin-left: 20px;

        img {
            width: 100%
        }
    }

}