$secondary-bg: #1B3356;

#page-wrap {
  min-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    padding-bottom: 10px;
  padding-top: 10px
}

.side-drawer {
  overflow-x: hidden;
}

.carousel-container {
  @media (max-width: 768px) {
    width:100%;
    padding: 0 1rem;
  }
}

