


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



:root {
  font-family: 'Mulish', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  
  // background-color: #01040D;
  background-image: url('/backgrounds/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0 20px;
  min-width: 320px;
  min-height: 100vh;

  @media (min-width: 768px) {
    background-image: url('/backgrounds/bg-tablet.jpg');
 
  }

  @media (min-width: 1200px) {
    background-image: url('/backgrounds/bg-desktop.jpg');
    background-position: center center;
 
  }

}

.slick-container {

  width: clamp(23rem, 11.0123rem + 49.1803vw, 53rem);;
  height: fit-content;

}